DB_PASSWORD=your_password
DB_USER=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=quicktable_notifications_node

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your@gmail.com
SMTP_PASSWORD=your_gmail_app_password

PORT=3001
